{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<br /><br />    


<h2>Who Am I?</h2>
<p> My name is Ron Sanderovich, I study in Tichonet high school. This project is my final submission for my DS class. </p> <br /> 
<h2> Whats this project?</h2>
<p>This project is an analysis of average wages across countries, and the wage gap between men and women. <br />
    in this project you will find a registration and login page, a data model page, and a query.</p>

<p> for a full specification document, please enter <a href="https://docs.google.com/document/d/1BrdR77CK_ohDW603BX_ywUcpzK6EzlIFKXOTeLrEZvI/edit?usp=sharing"> this google docs</a> file.</p>
<br />
<p> note that in this docs file there's everything thats specified as needed for this project.</p>

{% endblock %}
