{% extends "layout.html" %}

{% block content %}

    <h4> Message board: {{message}} , </h4>
<div class="jumbotron">
    <h1>Wage Gap Analytics</h1>
    <p class="lead">This webstie is part of a school project, it offers data about wage in a plethera of countries.</p>
</div>

<div class="row">
        <h2>Project background:</h2>
        <p>

            The project is part of "data science" class for 10th grade students of Tichonet's High School in Tel Aviv. <br />
            The project combines two main areas of knowledge: <br />
            - Programming in a web environment <br />
            - Data science <br />
            As part of the project, I located databases on the network and intend to build around them a website that allows access to the databases, data analysis and presentation to users in a convenient way.<br />
            The site will allow the user to explore the data in the chosen field and try to reach valuable insights and conclusions.
        </p>
        <form action="https://github.com/Sanderon16" target="_blank">
            <button type="submit" class="buttonlink" style="vertical-align:middle"><span>My GitHub</span></button>
        </form>
</div>

{% endblock %}
