{% extends "layout.html" %}

{% block content %}
<style>
    .part5 {
  display: grid;
  grid-template-colums: repeat(6, 1fr);
  min-height: 100vh
}

.container.group1,
.container.group2 {
  display: contents;
}

.item1 {
  grid-row: 1/ span 2;
  grid-column: 1/ span 2;
  border: solid;
  background-color: turquoise;
}

.item2 {
  grid-row: 1;
  grid-column: 3 /span 6;
  border: solid;
  background-color: mediumturquoise;
}

.item3 {
  grid-row: 2;
  grid-column: 3/span 6;
  border: solid;
  background-color: aquamarine;
}

.item4 {
  grid-row: 3;
  grid-column: 1/span 8;
  border: solid;
  background-color: darkcyan;
}


/* demo*/

* {
  margin: 0;
}

[class^=item] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(2vh + 2vw)
}
</style>

<div class="row"; background-size:100% 100%; color:white">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
        <div class="row">

            <h2>{{ title }}</h2>

            <br />
        </div>

        <form method=post>
            {{ form.csrf }}
            {{ form.csrf_token }}
            <section class="part5 container">
                <div class="container group1">
                    <div class="item item1">
                        <table>
                            <tr>
                                <td>
                                <p> select country:</p><br />
                                <h5> select multiple options by pressing Ctrl + Left click</h5>
                                    </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form.countries }}
                                </td>
                                <td>
                                    {% if form.countries.errors %}
                                    <ul class="text-danger">{% for error in form.countries.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                                    {% endif %}
                                </td>
                            </tr>
                            </table>
                    </div>
                    <div class="item item2">
                        <table>
                            <tr>
                                <td>
                                    <h3> Enter Start Date:</h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form.start_date }}
                                </td>
                                <td>
                                    {% if form.start_date.errors %}
                                    <ul class="text-danger">{% for error in form.start_date.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item item3">

                        <table>
                            <tr>
                                <td>
                                    <h3> Select End Date:</h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form.end_date }}
                                </td>
                                <td>
                                    {% if form.end_date.errors %}
                                    <ul class="text-danger">{% for error in form.end_date.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                                    {% endif %}
                                </td>
                            </tr>
                            </table>
                    </div>
                    <div class="item item4">
                        <table>
                            <tr>
                                <td class="buttonlink"> <input type="submit" value="Caculate"> </td>
                                <td>
                                    <img src={{ fig_image }} alt='Graph image'>
                                </td>
                                <td>
                                    {{ raw_data_table | safe}}
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </section>
         </form>


        {% endblock %}